:root {
  --asa-c1: #1a1a1e;
  --asa-c2: #2f2f2f;
  --asa-c3: #3f3f3f;
  --asa-c3b: #4f4f4f;
  --asa-c4: #feeefe;
  --asa-c5: #ffeeff;

  --asa-sh: 1%;
  --asa-sr: 5rem;

  --asa-tran: all 0.3s ease;
}

html,
body {
  height: 99%;
}

body {
  background: var(--asa-c1);
  color: var(--asa-c4);
  font-family: Arial, sans-serif;
  display: flex;
}

#main-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 850px;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--asa-c3);
}
#main-wrap h2 {
  margin: 0;
}

#asa-player-container {
  width: 420px;
  max-width: 420px;
  height: 800px;
  max-height: 800px;
}

#asa-playlist-list-container {
  width: 320px;
  max-width: 320px;
  height: 800px;
  max-height: 800px;
  overflow-y: auto;
}

#top-area {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 2% auto;
  width: 100%;
}

#top-area input {
  margin-left: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--asa-c2);
  color: var(--asa-c4);
  height: 50%;
}

#player-area {
  display: flex;
  flex-direction: row;
}


/* 
* Playlist List Styles 
*/

.asa-playlist-list-item {
  background-image: none;
  background-color: var(--asa-c2);
  margin: 0.2rem 0;
  max-width: 300px;
  height: 5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: var(--asa-tran);
  cursor: pointer;
}

.asa-playlist-list-item:hover {
  background-color: var(--asa-c3);
}

.asa-playlist-list-item-info {
  display: inline-block;
  padding: 0.5rem;
  font-weight: bold;
  color: var(--asa-c4);
  width: calc(67% - 1rem);
  vertical-align: top;
}

.asa-playlist-list-item-title {
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.asa-playlist-list-item-artist {
  font-size: 0.7rem;
  opacity: 0.9;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.asa-playlist-list-item-date {
  font-size: 0.6rem;
  opacity: 0.8;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.asa-playlist-list-item-cover {
  background-color: var(--asa-c3);
  display: inline-block;
  background-size: cover;
  background-position: center;
  width: 32%;
  height: 100%;
  border-left: 0.2rem solid var(--asa-c3);
}


/* 
* Player Styles 
*/

.asa-player {
  background: var(--asa-c1);
  user-select: none;
  height: 100%;
}

.asa-playlist {
  margin-bottom: var(--asa-sh);
  border-radius: 0.5rem;
  max-height: 25%;
  min-height: 25%;
  overflow-y: scroll;
}

.asa-track {
  padding: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  color: var(--asa-c5);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.asa-track:nth-of-type(even) {
  background: var(--asa-c2);
}

.asa-track:nth-of-type(odd) {
  background: var(--asa-c3);
}

.asa-track:hover {
  background: var(--asa-c3b);
}

.asa-track-playing {
  background: var(--asa-c4) !important;
  color: var(--asa-c1);
  font-weight: bold;
}

.asa-controls {
  height: 8%;
}

.asa-controls-btn-wrap {
  height: 75%;
}

.asa-btn {
  background-color: var(--asa-c2);
  border: none;
  color: var(--asa-c4);
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: calc(100% / 5);
  height: 100%;
  border-bottom: 0.2rem solid var(--asa-c3);
  font-weight: bold;
}

.asa-btn:hover {
  background-color: var(--asa-c3);
}

.asa-btn span {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.asa-shuffle-icon {
  background-image: url('asaimg/shuffle.png');
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.asa-prev-icon {
  background-image: url('asaimg/prev.png');
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.asa-next-icon {
  background-image: url('asaimg/next.png');
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.asa-pp-icon {
  background-image: url('asaimg/play.png');
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.asa-download-icon {
  background-image: url('asaimg/download.png');
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.asa-now-playing {
  background: var(--asa-c2);
  padding: 0.5rem;
  border-bottom: 0.2rem solid var(--asa-c3);
  border-radius: 1rem;
  margin-bottom: var(--asa-sh);
  height: 7%;
  max-height: 7%;
}

.asa-now-playing-title {
  font-style: italic;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.asa-now-playing-artist {
  font-weight: bold;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.asa-now-playing-album {
  opacity: 0.5;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.asa-album-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  margin-bottom: var(--asa-sh);
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  background-color: var(--asa-c2);
  margin-bottom: var(--asa-sh);
  cursor: pointer;
}

/* Highlights on play */
.asa-playing .asa-pp-button {
  background-color: var(--asa-c4);
  color: var(--asa-c1);
}

.asa-playing .asa-pp-icon {
  filter: brightness(0) saturate(100%) invert(34%) sepia(98%) saturate(500%) hue-rotate(200deg);
}

.asa-controls {
  border-radius: 0.5rem;
  overflow: hidden;
}

.asa-scrubber {
  width: 100%;
  height: 1rem;
  background: var(--asa-c2);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.asa-scrubber-fill {
  background: var(--asa-c4);
  width: 1%;
  min-width: 1%;
  height: 100%;
}

.asa-volume-control {
  display: inline-block;
  width: 50%;
  height: 0.5rem;
  background: var(--asa-c2);
  position: relative;
  cursor: pointer;
  border-radius: 0.25rem;
  overflow: hidden;
}

.asa-volume-fill {
  background: var(--asa-c4);
  width: 50%;
  height: 100%;
}

.asa-timestamp {
  display: inline-block;
  width: 50%;
  text-align: right;
  color: var(--asa-c3);
}

/* 
* Scrollbar Styles 
*/
::-webkit-scrollbar {
  width: 12px;
  background: var(--asa-c2);
}

::-webkit-scrollbar-thumb {
  background: var(--asa-c3);
  border-radius: 8px;
  border: 2px solid var(--asa-c2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--asa-c3b);
}

::-webkit-scrollbar-corner {
  background: var(--asa-c2);
}

/* Firefox */
/* * { */
/*   scrollbar-width: thin; */
/*   scrollbar-color: var(--asa-c3) var(--asa-c2); */
/* } */
